a {
    color: #989D9C;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 23px;
    margin-top: 44px;
    margin-left: 50px;
    margin-bottom: 144; }

.button-01 {
    width: 130px;
    height: 41px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #665AE1;
    box-sizing: border-box;
    

}

    
        
        
      




.container {

    display: flex; /* Ativa o Flexbox */
  }
  
  aside {
    width: 25%; /* Largura do aside */
    margin-top: 144px;
    margin-right: 86px;
    margin-bottom: 183px;
    margin-left: 125px;
}
  
  main {
    width: 75%; /* Largura do main */
    margin-top: 217px;
    margin-right: 148px;
    margin-bottom: 249px;
    margin-left: 86px;
  }
  h1 {
    color: #515151;
  font-family: Montserrat;
  font-size: 110px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 0;
  }
  h2{
    color: #515151;
  font-family: Montserrat;
  font-size: 58px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 0
  
  }
  p{
    color: #848484;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  button {
    width: 239px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 20.5px;
  background: #ADFF00;
  color: #000;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media  ( (max-width: 768px))
{
  header {
    display:none
  }
  

}




